@use '../../styles/partials/_mixins.scss' as *;

.post {
    background-color: beige;
    margin: 1rem;
}

.post-link {
    color: black;
    text-decoration: none;
}

.posts-feed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0rem;
    padding-bottom: 4rem;
}

.profile-title {
    @include mobile-section-header;
    font-size: 2rem;
    font-family: "Avenir-Next";
    font-style: bold;
    font-weight: 700;
    color: #323232;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding: 0.5rem 0rem;
    color: #163d66;

    @include tablet{
        font-size: 3rem;
    }


}

#profile-feed{
    margin-top: 0rem;
}