.post{
    background-color: beige;
    margin: 1rem;
}

.post-link{
    color: black;
    text-decoration: none;
}

.posts-feed-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0rem;
    padding-bottom: 4rem;
}