@use '../../styles/partials/_mixins.scss' as *;

.posts-feed-container {

    &__feed {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include mobile-section-header;
        color: #163d66;

        @include tablet {
            font-size: 2rem;
        }

    }
}

#new-team-link{
    width: 90%;
}



.teams-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#cant-find {
    padding: 3rem 0rem;
    text-align: center;
}

.form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 2rem;
    border: 1px solid grey;

    @include tablet {
        max-height: 15rem;
    }


    &-notes {
        width: 60%;
        padding: 0.25rem;
        border: 0.5px solid black;
        border-radius: 10px;
        height: 3.5rem;
        font-size: 1rem;
        margin: 0.25rem;

        &--place {
            height: 1.5rem;
            width: 14.5rem;
        }
    }

    &-sport-choice {
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__upload {
        align-self: center;
        background-image: url("../../assets/icons/plus.svg");
        display: flex;
        justify-content: center;
        background-color: #0095FF;
        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: 5% 50%;
        border: none;
        width: 60%;
        padding: 0.75rem;
        border-radius: 10px;
        color: white;
        font-weight: 700;
        font-size: 1rem;
        position: relative;
        left: 1rem;
        z-index: 0;

        @include tablet {
            align-self: center;
            background-image: url("../../assets/icons/plus.svg");
            display: flex;
            justify-content: center;
            background-color: #0095FF;
            background-size: 2.5rem;
            background-repeat: no-repeat;
            background-position: 5% 50%;
            border: none;
            width: 60%;
            padding: 0.75rem;
            border-radius: 10px;
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            position: relative;
            left: 1rem;
            z-index: 0;

        }

        @include desktop {
            align-self: center;
            background-image: url("../../assets/icons/plus.svg");
            display: flex;
            justify-content: center;
            background-color: #0095FF;
            background-size: 2.5rem;
            background-repeat: no-repeat;
            background-position: 5% 50%;
            border: none;
            width: 60%;
            padding: 0.75rem;
            border-radius: 10px;
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            position: relative;
            left: 1rem;
            z-index: 0;

        }

        &:hover {
            background-color: #235fa0;
            font-weight: bold;
            cursor: pointer;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-items: center;
            background-color: #FFF;
            text-decoration: none;
            width: 6rem;

            @include tablet {
                width: 30%;
            }
        }

        &-text {
            @include mobile-body-copy;
            color: #1f5690;
            text-align: center;
            font-weight: 600;
            text-decoration: none;
        }



        &-icon {
            color: white;
            width: 3.5rem;

        }
    }

}

.preferences-form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    flex-shrink: 1;
    padding: 1.5rem;
    border: 1px solid grey;

    @include tablet {
        max-height: fit-content;
    }

    &-sport-choice {
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;


        @include tablet {
            flex-direction: row;
            gap: 1rem;

        }
    }

    &__pref {}

}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#create-new-form{
    margin-bottom: 7rem;
}

.teams-create-new-team{
    margin-bottom: 5rem;
    width: 90%;
    font-size: 1rem;
}