@use '../../styles/partials/_mixins.scss' as *;

.mobile-top-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2.5px solid #3b6cc4;

    &__link-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        gap: 4rem;
        background-color: white;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    }

    &__link {
        text-decoration: none;
    }

    &__logo {
        @include mobile-page-header;
        text-decoration: none;
        font-size: 1.75rem;
        color: #3b6cc4;

        @include tablet {
            // margin-right: 6rem;
        }
    }

    &__search-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        padding: 0rem 0rem;

        @include tablet {
            width: 100%;
        }

        &-form {
            color: #555;
            display: flex;
            padding: 2px;
            border: 1px solid currentColor;
            border-radius: 5px;
            width: 100%;
            border-color: #e1e1e1;



            &-input {
                border: none;
                background: transparent;
                margin: 0;
                padding: 0.5rem 0rem;
                color: inherit;
                border: 1px solid transparent;
                border-radius: inherit;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }

            &-submit {
                text-indent: -999px;
                overflow: hidden;
                width: 40px;
                padding: 0;
                margin: 0;
                border: 1px solid transparent;
                border-radius: inherit;
                background: transparent url("../../assets/icons/search.svg");
                background-repeat: no-repeat;
                background-position: 50%;
                cursor: pointer;
                opacity: 0.7;

                &:focus {
                    outline: none;
                }

            }
        }

        &-profile-picture {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            object-fit: cover;

            // @include tablet {
            //     display: none;
            // }

            &--tablet {
                @include mobile {
                    display: none;
                }

                @include tablet {}
            }
        }
    }

    &__upload {
        background-image: url("../../assets/icons/upload.svg");
        display: flex;
        justify-content: center;
        background-color: #0095FF;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: none;
        width: 100%;
        padding: 0.75rem;
        border-radius: 3px;
        color: white;

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-items: center;
            background-color: #FFF;
            text-decoration: none;

            @include tablet {
                width: 30%;
            }

            &:hover {
                background-color: #83b2e4;
            }
        }

        &-text {
            @include mobile-body-copy;
            color: #1f5690;
            text-align: center;
            font-weight: 600;
            text-decoration: none;
        }



        &-icon {
            color: white;
            width: 3.5rem;

        }
    }

}

.mobile-bottom-navbar {
    // @include mobile{
    //     display: none;
    // } 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__link-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: fit-content;
        padding: 0.5rem 1.5rem;
        gap: 4rem;
        border: 2px solid #83b2e4;
        border-radius: 1rem;
        // box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);



        position: fixed;
        // top: 0vh;
        // left: 0vw;
        bottom: 0vw;
        background-color: white;
    }

    &__link {
        text-decoration: none;
    }

    &__logo {
        @include mobile-page-header;
        text-decoration: none;
        font-size: 1.75rem;
        color: #3b6cc4;

        @include tablet {
            // margin-right: 6rem;
        }
    }

    &__search-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;

        @include tablet {
            width: 50%;
        }

        &-form {
            color: #555;
            display: flex;
            padding: 2px;
            border: 1px solid currentColor;
            border-radius: 5px;
            width: 100%;
            border-color: #e1e1e1;



            &-input {
                border: none;
                background: transparent;
                margin: 0;
                padding: 0.5rem 0rem;
                color: inherit;
                border: 1px solid transparent;
                border-radius: inherit;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }

            &-submit {
                text-indent: -999px;
                overflow: hidden;
                width: 40px;
                padding: 0;
                margin: 0;
                border: 1px solid transparent;
                border-radius: inherit;
                background: transparent url("../../assets/icons/search.svg");
                background-repeat: no-repeat;
                background-position: 50%;
                cursor: pointer;
                opacity: 0.7;

                &:focus {
                    outline: none;
                }

            }
        }

        &-profile-picture {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            object-fit: cover;

            // @include tablet {
            //     display: none;
            // }

            &--tablet {
                @include mobile {
                    display: none;
                }

                @include tablet {}
            }
        }
    }

    &__upload {
        background-image: url("../../assets/icons/upload.svg");
        display: flex;
        justify-content: center;
        background-color: #0095FF;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: none;
        width: 100%;
        padding: 0.75rem;
        border-radius: 3px;
        color: white;

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-items: center;
            background-color: #FFF;
            text-decoration: none;

            @include tablet {
                width: 30%;
            }

            &:hover {
                background-color: #83b2e4;
            }
        }

        &-text {
            @include mobile-body-copy;
            color: #1f5690;
            text-align: center;
            font-weight: 600;
            text-decoration: none;
        }



        &-icon {
            color: white;
            width: 2.5rem;

            @include tablet{
                width: 3.5rem;
            }

        }
    }

}



